:root {
  --secondary-color: #015c8e;
  --content-color: #737185;
  --template-color: #19191b;
  --background-color: #ffffff;
  --copyright-background-color: #f8f8f8;
  --mutual-connection-color: #3667a6;
  --border-color: #bdbdbd;
  --primary-button-color: #204177;
  --secondary-button-color: #356cc4;
}
